@charset "UTF-8";
/* CSS Document */

html {
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}

body {
	font-family: Verdana, Geneva, sans-serif;
    padding: 0px 10px 20px 10px;
}

h1 {
	font-size: 1.2em;
	text-align: center;
}
h2 {
    font-size: 1em;
}





h2.highlight {
	color: #09C;
	font-size: 1em;
	text-align: center;
}

li.header {
	list-style-type: none;
}

li.header span {
	color: #09C;
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-weight: bold;
}

ul {
    padding-left: 20px;

}
li {
	margin-bottom: 10px;
}
li ul  {
	padding-left: 30px;

}
li ul li {
	list-style-type: square;

}

li.header ul {
	padding-top: 10px;
   
}


ul.link_list {
	list-style-type: none;
	padding-left: 0px;

	}

ul li ol {
	padding-top: 10px;
}
a {
	color: #069;
	text-decoration:none;
}

a:active {
	text-decoration:underline;
}

p.btnpara {
    text-align: center;
    
}

a.mybtn {
    display: inline-block;
    padding: 10px;
    color:white;
    font-weight:bold;
    background-color: #006089;
    border-radius:7px;
}
a.mybtn:active {
    text-decoration:none;
    border: 2px solid #006089;
    color: #006089;
    background-color: white;
}

.footnote {
font-size: 0.9em;
padding-left:   25px;
}

